Flask
Flask-SQLAlchemy
Flask-CORS
flask-jwt-extended
Flask-Limiter
python-dotenv
psycopg2-binary
sqlalchemy
alembic
pyjwt
marshmallow
APScheduler
python-dateutil
fpdf2
yfinance
pytickersymbols
pytesseract
Pillow
PyMuPDF
gunicorn
cryptography
requests